*{    margin: 0;
    padding: 0;}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #0a0952;
    color: rgb(75, 115, 134);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#547f97,#5fd4d4);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}


.escola-titulo{
    padding: 24px 0;
}

.totoro{
    padding: 24px 0;
}
.totoro-imagem{
    width: 120px;
}

.totoro-icone{
    width: 24px;
    padding: 4px 8px;
}

.totoro-div{
    text-align: center;
    padding: 16px 0;
}

.totoro-titulo{
    text-align: center;
    padding: 50px 0;
}

.totoro-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: rgb(205, 245, 218);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
.menina-imagem{
   width: 25px;
   
}